ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff;
  transition: all .3s ease-out; }
  a:hover {
    color: #FFCC33; }

.row {
  width: 90%;
  margin: 0px 5%; }

#header {
  position: relative;
  height: 100px;
  background-color: #8B0000; }
  #header .logo {
    margin-top: 25px;
    float: left;
    font-size: 56px;
    margin-bottom: 0px;
    font-family: 'Lato', sans-serif; }
  #header h1 {
    color: white; }
  #header .menu {
    margin: 0px;
    margin-top: 55px;
    font-size: 24px;
    float: right; }
    #header .menu li {
      display: inline-block;
      margin-left: 40px; }
      #header .menu li a {
        color: #fff;
        text-transform: uppercase;
        font-family: 'Lato', sans-serif; }
        #header .menu li a:hover {
          color: #FFCC33; }

#hero #hero-slider {
  width: 100%; }
  #hero #hero-slider .slide {
    height: 750px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center; }
    #hero #hero-slider .slide .hero-text {
      margin-top: 180px;
      color: #fff;
      text-transform: uppercase;
      font-size: 56px;
      letter-spacing: 0.1em;
      background-color: #8B0000;
      padding: 10px 0px;
      font-family: 'Lato', sans-serif;
      border-radius: 10px; }
  #hero #hero-slider .gear-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%; }
    #hero #hero-slider .gear-container .gear {
      display: inline-block;
      position: relative;
      background-image: url("img/gear.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      height: 300px;
      width: 700px; }

#about {
  position: relative;
  height: 500px;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #e1e1e1; }
  #about #about-left {
    width: 50%;
    display: inline-block;
    margin: 0px; }
    #about #about-left .about-title {
      margin-top: 70px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    #about #about-left .about-content {
      font-size: 18px;
      line-height: 32px; }
    #about #about-left .button-link {
      display: inline-block;
      background-color: #8B0000;
      padding: 10px 20px;
      border: solid 1.5px #8B0000;
      text-transform: uppercase;
      transition: all .3s ease-out;
      font-family: 'Lato', sans-serif;
      font-size: 20px;
      margin-top: 40px;
      margin-bottom: 20px;
      color: #e1e1e1; }
      #about #about-left .button-link:hover {
        background-color: transparent;
        color: #8B0000; }

#about-pic {
  float: right;
  background-image: url("img/puppy.jpg");
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; }

#rush {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #FFCC33;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5) inset; }
  #rush .rush-title {
    text-transform: uppercase;
    color: #8B0000;
    font-weight: 900; }
  #rush .rush-content {
    font-size: 18px;
    line-height: 32px; }
  #rush .button-link {
    display: inline-block;
    background-color: #8B0000;
    padding: 10px 20px;
    border: solid 1.5px #8B0000;
    text-transform: uppercase;
    transition: all .3s ease-out;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #e1e1e1; }
    #rush .button-link:hover {
      background-color: transparent;
      color: #8B0000; }

#footer {
  padding: 20px 20px 0px;
  height: 200px;
  background-color: #8B0000;
  color: #fff;
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  #footer .contact-info {
    float: left; }
    #footer .contact-info a {
      display: block;
      line-height: 30px; }
  #footer .map {
    float: right; }
    #footer .map p {
      margin: 0px;
      line-height: 30px; }
  #footer .legal {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; }
  #footer .social-links {
    display: block;
    width: 100%;
    text-align: center;
    clear: both; }
    #footer .social-links a {
      margin: 10px 20px;
      display: inline-block; }
  #footer .facebook {
    fill: #999;
    transition: all .3s ease-out; }
  #footer .facebook:hover {
    fill: #FFCC33; }
  #footer .twitter {
    fill: #999;
    transition: all .3s ease-out; }
  #footer .twitter:hover {
    fill: #FFCC33; }
  #footer .instagram {
    fill: #999;
    transition: all .3s ease-out; }
  #footer .instagram:hover {
    fill: #FFCC33; }
